<h1 class="title">Issue tracker</h1>
	
<ol class="breadcrumb">
	<!--li><a href="#">Projects</a></li-->
    {{#breadcrumbs}}
	<li><a href="{{route}}">{{name}}</a></li>
	{{/breadcrumbs}}
	<!--li class="active"><a href="#">{{issueName}}</a></li-->
</ol>
