<div class="list-group">
  {{#issues}}
    <a href="#/project{{projectId}}/issue{{id}}" class="list-group-item">{{name}}</a>
  {{/issues}}
  <a href="#" class="list-group-item">
	<span class="glyphicon glyphicon-plus"></span> Add new issue</a>
</div>