<div class="list-group">
  {{#projects}}
    <a href="#/project{{id}}" class="list-group-item">{{name}}</a>
  {{/projects}}
  	<a href="#" class="list-group-item">
		<span class="glyphicon glyphicon-plus"></span> Add new project</a>
</div>
